
:root {
    --color-light: #dbcaba;
    --color-medium: #8d8782;
    --color-dark: #241d19;
    --font-primary: 'Karla', sans-serif;
    --transition: 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    color: var(--color-dark);
    background-color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dbcaba;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
  }
  
  #preloader span {
    font-size: 4rem;
    font-weight: 700;
    color: #241d19;
    letter-spacing: 4px;
  }
  
  #preloader.hide {
    opacity: 0;
    pointer-events: none;
  }

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--color-light);
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-dark);
}

.navbar {
    display: flex;
}

.navbar-list {
    display: flex;
    gap: 1.5rem;
}

.navbar-link {
    font-weight: 500;
    padding: 0.5rem 0;
    position: relative;
}

.navbar-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--color-dark);
    transition: var(--transition);
}

.navbar-link:hover::after {
    width: 100%;
}

.nav-toggle-btn {
    display: none;
}

.header-btn {
    position: relative;
    font-weight: 500;
    padding-bottom: 4px;
    display: inline-block;
}

.header-btn::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-dark);
    transition: var(--transition);
}

.header-btn:hover::after {
    width: 100%;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem 4rem;
    background-color: var(--color-light);
}

.hero .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.hero-content {
    max-width: 500px;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-dark);
}

.hero-content h2 span {
    font-weight: 300;
}

.hero-content p {
    margin-bottom: 1.5rem;
    color: var(--color-medium);
}

.hero-content .btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--color-dark);
    color: #fff;
    transition: var(--transition);
    margin-right: 1rem;
}

.hero-content .btn:hover {
    background-color: var(--color-medium);
}

.hero-image {
    flex: 1;
    min-width: 300px;
    height: 600px;
    border-radius: 10px;
}

.hero-image img {
    width: 100%;
    max-width: 500; 
    height: 500px;
    border-radius: 10%; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 0 auto;
}

.hero-image img:hover {
    transform: scale(1.05); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #fff;
}

.about-img {
    flex: 1;
    width: 100%;
    height: 400px;
}

.about-img img {
    width: 100%;
    height: 400px;
    margin-bottom: 0;
}

.about-text {
    flex: 1;
    max-width: 500px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-text p {
    margin-bottom: 1rem;
    color: var(--color-medium);
}

.about-text .btn {
    background-color: var(--color-dark);
}

.about-text .btn:hover {
    background-color: var(--color-medium);
}

.about-text, .about-img {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-out;
  }
  
  .about-text.slide-in, .about-img.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

.portfolio {
    padding: 4rem 2rem;
    background-color: var(--color-light);
}

.portfolio h1 {
    font-size: 2rem;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.portfolio-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.portfolio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.portfolio-card .portfolio-img {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.portfolio-card img {
    width: 100%;
    height: auto;      
    object-fit: contain;
    display: block;
}

.portfolio-card h3 {
    padding: 1rem;
    font-size: 1.25rem;
}

.portfolio-card p {
    padding: 0 1rem 1rem;
    color: var(--color-medium);
}

.project-links {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .project-links a i {
    font-size: 1.4rem;
    color: #333;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .project-links a:hover i {
    color: #8d8782; 
    transform: scale(1.1);
  }

  .contact {
    padding: 80px 0;
  }
  
  .contact h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-form {
    width: min(600px, 100%);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
  }
  

.contact-form button {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: var(--color-dark);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);
}

.contact-form button:hover {
    background-color: var(--color-medium);
}

#success-message{
text-align: center;
}

.footer {
    padding: 2rem;
    background-color: var(--color-dark);
    color: #fff;
    text-align: center;
}

.footer a {
    color: #fff;
}

.footer-socials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-socials a i {
    font-size: 1.5rem;
    color: #fff;
    transition: 0.3s ease;
  }
  
  .footer-socials a:hover i {
    color: #8d8782;
    transform: scale(1.15);
  }


@media screen and (max-width: 768px) {
    .hero .container,
    .about {
        flex-direction: column;
    }

    .hero-image img {
        object-fit: cover;
        margin-top: 50px;
      }

      .navbar-list {
        flex-direction: column;
        position: fixed; 
        top: 0;
        right: -100%;  
        width: 200px;
        height: 100vh;
        background: #fff;
        padding: 2rem 1rem;
        gap: 1.5rem;
        transition: right 0.3s ease-in-out;
        z-index: 1001; 
    }

    .navbar-list.active {
        right: 0;
    }

    .nav-toggle-btn {
        display: block;
        font-size: 1.8rem;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 30px;
        color: #241d19;
    }

    .about-img img {
        object-fit: cover;
        width: 100%;
        max-height: 200px;
    }

    .about {
        max-height: 590px;
    }

    .about-text {
        margin-right: 50px;
        margin-top: 50px;
    }

    .contact {
        padding: 20px;
    }
}
